{% extends "site_simple.html" %}


    {% block content %}
        <div class="container">
        <div class="row">
        <div class="col-md-9">
        <div class="alert alert-warning" role="alert">
        <p class="text-danger">注册前请参看通知公告的<a href="{% url 'docs' %}">《山西大学高性能运营规章》</a></p>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">

        <ul class="nav nav-tabs" role="tablist">
          <li><a href="{% url 'employee' %}">教师注册</a></li>
          <li class="active"><a href="{% url 'student' %}">学生注册</a></li>
        </ul>

        <form action="" method="post">
        {% load crispy_forms_tags %}
        {% crispy form %}
        </form>

        </div>
        </div>
        </div>
        </div>
        </div>


    {% endblock %}

